<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-light justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                </li>
            </ul>
        </nav>

        <div class="jumbotron jumbotron-fluid">
            <h1 style="text-align: center;">About me</h1>

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header justify-content-center">Skeletor</div>
                        <div class="card-body">
                            <img src="~/images/skeletor.gif" class="img-fluid" style="height: 280px; width:300px;
                            margin-right: 20px" alt="skeletor">
                        </div>
                        <div class="card-footer">I am master of evil</div>
                    </div>
                </div>

                <div class="col">
                    <h1>But i am also a developer</h1>
                    <p>People of Eternia! I stand before the Great Eye of the galaxy. 
                        Chosen by destiny to receive the powers of Greyskull! 
                        This inevitable moment will transpire before your eyes, even as He-Man 
                        himself bears witness to it. Now. I, Skeletor, am Master of the Universe! 
                        Yes! Yes... I feel it, the power... fills me. Yes, I feel the universe within me! 
                        I am... I am a part of the cosmos! Its energy flows... flows through me. Of what consequence are you now? 
                        This planet, these people - They are nothing to me - the universe is power, pure, unstoppable power -
                        and I am that force, I am that power! Kneel before your master... [He-Man refuses]... for you are no longer my equal, 
                        I am more than man, more than life! I am a god! Now. You... will... kneel! Kneel!</p>
                </div>
            </div>
        </div>
    </div>

    </div>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>