<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My projects</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-light justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                </li>
            </ul>
        </nav>

        <div class="container p-3 my-3 bg-dark text-white">
            <h1>Here are some projects of mine</h1>
            <p>Behold</p>
        </div>

        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/images/amazing.gif" alt="Los Angeles" width="1100" height="500">
                    <div class="carousel-caption">
                        <h3>I simulated the universe in python</h3>
                        <p>I deeply regret it.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/data.gif" alt="Chicago" width="1100" height="500">
                    <div class="carousel-caption">
                        <h3>Made an evil ai </h3>
                        <p>This blue stuff is literally him, say hello</p>
                    </div>

                </div>
                <div class="carousel-item">
                    <img src="~/images/snowsite.png" alt="New York" width="1100" height="500">
                    <div class="carousel-caption">
                        <h3 class="text-black-50"></h3>Ecommerce site</h3>
                        <p class="text-black-50"></p>i am an amazon associates person buy my stuff</p>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
    </div>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>