@{
    ViewData["Title"] = "Home Page";
}
@model Survey

    <div class="text-center">
        <h1>Welcome to the survey</h1>
        <form action="/survey " method="POST">
        <span asp-validation-for="Name"></span>
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input type="text" name="Name" class="form-control">
            </div>
            <span asp-validation-for="Dojo"></span>
            <div class="form-group">
                <label asp-for="Dojo">Dojo Location:</label>
                <input type="text" name="Dojo" class="form-control"> 
            </div>
            <span asp-validation-for="Language"></span>
            <div class="form-group form-check">
                <label asp-for="Language">Favorite Language</label>
                <select name="Language">
                    <option value="Python">Python</option>
                    <option value="C#">C#</option>
                    <option value="Ruby">Ruby</option>
                    <option value="Javascript">Javascript</option>
                </select>
            </div>
            <span asp-validation-for="Comment"></span>
            <div class="form-group">
                <label asp-for="Comment">Comment:</label>
                <textarea name="Comment" class="form-control" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
