@model Survey
<h1>Submitted info: </h1>
<h2>Name: @Model.Name</h2>
<h2>Dojo Location: @Model.Dojo</h2>
<h2>Favorite Language: @Model.Language</h2>
<h2>Comment: </h2>
<p>@Model.Comment</p>
<div>
    <a href="/">Take another survey</a>
</div>