@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Generate a random Password</h1>
    <h2>@ViewBag.Pass</h2>
    <h4>Password # @ViewBag.Count</h4>
    <a href="/generate"><button class="btn btn-dark">Generate</button></a>
</div>
